# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive

# Tuist generated
*.xcodeproj/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
Derived/

# macOS
.DS_Store

# SPM
.build/
.swiftpm/
